div.form-group {
    padding: 10px;
}
input {
    float: right;
}
form ul {
    list-style: none;
    padding:0;
}
form ul li {
    padding: 10px;
}
form ul li input {
    position: absolute;
    left: 150px;
}
input.knop {
    float: none;
}
form ul li input.knop {
    position: unset;
    left: 200px;
}
div.geslacht {
    margin-right: 2px;
    padding: 10px;
    left: 150px;
}
label.genderlabel {
    margin-right: 52px;
}
label.kleurogen {
    margin-right: 43px;
    margin-bottom: 10px;
}
input.datum {
    float: none;
}
form ul li input.datum {
    position: unset;
    left: 200px;
}
label.geboortedatum {
    width: 50px;
    margin-right: 20px;
}
textarea.tekstvak {
    vertical-align: top;
    margin-left: 30px;
}
input.checkbox {
    float: left;
    margin: 20px;
}